name: release-on-vbranch

on:
  push:
    branches:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Get branch name
        id: branch_name
        run: echo "branch_name=$(basename ${GITHUB_REF})" >> $GITHUB_OUTPUT

      # - name: Compress action step
      #   uses: a7ul/tar-action@v1.1.3
      #   id: compress
      #   with:
      #     command: c
      #     files: |
      #       release/
      #     outPath: seatable-compose.tar.gz

      - name: Compress release folder
        run: tar -czvf seatable-compose.tar.gz -C release/ .

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.branch_name.outputs.branch_name }}
          files: |
            seatable-compose.tar.gz

